rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Images - publicly readable, anyone can upload, only owner can delete
    match /images/{imageId} {
      allow read: if true;
      allow create: if true;
      allow delete: if true;
      allow update: if false;
    }
  }
}
